h2{
    font-family: 'Roboto', sans-serif;
}
.btn:hover{
    background-color: white;
}
.btn-bg-color{
    color: white;
    background-color: #173f6c;
}
#service{
    height: 2em;
    background-color: #e7f1ff;
}
#section-bg{
    background-color: #e7f1ff;
}
footer{
    height: 280px;
}
footer img{
    height: 40px;
    width: 130px;
}